name: Build and Test

on:
  pull_request:
    branches:
      - main
      - develop
      - 'release/**'
  push:
    branches:
      - main
      - develop
      - 'release/**'

jobs:
  unit_tests_latest:
    name: Unit Tests macOS 15
    runs-on: macos-15
    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "16.0"
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: .build
          key: macos-15-xc-16-spm-${{ hashFiles('**/Package.resolved') }}
          restore-keys: |
            macos-15-xc-16-spm-

      - name: Build
        run: xcodebuild build-for-testing -scheme IndexStoreTests -destination "platform=macOS"

      - name: Test
        run: xcodebuild test -scheme IndexStoreTests -destination "platform=macOS" -enableCodeCoverage YES
  unit_tests_previous:
    name: Unit Tests macOS 14
    runs-on: macos-14
    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "15.0"
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: .build
          key: macos-14-xc-15-spm-${{ hashFiles('**/Package.resolved') }}
          restore-keys: |
            macos-14-xc-15-spm-

      - name: Build
        run: xcodebuild build-for-testing -scheme IndexStoreTests -destination "platform=macOS"

      - name: Test
        run: xcodebuild test -scheme IndexStoreTests -destination "platform=macOS" -enableCodeCoverage YES
  unit_tests_minus_two:
    name: Unit Tests macOS 13
    runs-on: macos-13
    steps:
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: "14.0"
      - uses: actions/checkout@v4
      - uses: actions/cache@v4
        with:
          path: .build
          key: macos-13-xc-14-spm-${{ hashFiles('**/Package.resolved') }}
          restore-keys: |
            macos-13-xc-14-spm-

      - name: Build
        run: xcodebuild build-for-testing -scheme IndexStoreTests -destination "platform=macOS"

      - name: Test
        run: xcodebuild test -scheme IndexStoreTests -destination "platform=macOS" -enableCodeCoverage YES